body {
    color: #130e3d;
}

.flex-box {
    display: flex;
    flex-direction: row; /*lines the flex boxes up in a row initially*/
    flex-wrap: wrap; /* moves boxes onto multiple lines*/
    justify-content: center;
    align-items: stretch; /*might remove this- it should stretch the boxes so that they fill the container*/
    
}

.calc-form {
    background-color: #6b5bff;

}

.form-output {
    background-color: #1b998b;
}