body {
    color: #130e3d;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 80px;
    /* background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 16px ), repeating-linear-gradient( #EDEFFF55, #EDEFFF ); */
}

.flex-box {
    display: flex;
    flex-direction: row; /*lines the flex boxes up in a row initially*/
    flex-wrap: wrap; /*moves boxes onto multiple lines*/
    justify-content: center;
    align-items: center;
    /* align-items: stretch; might remove this- it should stretch the boxes so that they fill the container */
    padding: 20px;
    margin: 10px 50px;

}

.calc-form {
    /* background-color: #edefff; */
    padding: 40px;
    margin: 20px;
    width: 350px;
}

.form-output {
    background-color: #edefff;
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;;

}

.form-output > h2 {
    margin: 10px;
    padding: 0px 40px;
}


#trip-form > h2 {
    text-align: center;
    font-size: 24px;
    margin: 5px;
    color:#130e3d;
}

button {
    font-family: 'Inter', sans-serif;
}

.back-pattern {
    background-color: #edefff;
    opacity: 1;
    background-image:repeating-radial-gradient( circle at 0 0, transparent 0, #edefff 27px ), repeating-linear-gradient( #ffffff55, #ffffff );
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: 26vh 0;
}