#map {
    height: 400px;
    width: 80vw;
    max-width: 800px;
    min-width: 200px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 50px;
    border: 5px solid #130E3D;
    font-family: 'Inter', sans-serif;

}
