ul {
    background-color: #6b5bff;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 10%;
    margin: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none; 
        /* this should be working!!! */
    /* position: fixed;  */
    /* top: 0; //this fixes the top but causes other issue */
        /* //this will fix it at the top but in a funky way at th emoment */
    /* overflow: hidden; */
    display: flex; /*need to review what exactly this does*/
    /* justify-content: space-around; */

}

li {
    font-size: 24px;
    text-decoration: none;
}

li.header-page-name{
    padding: 15px;
    text-decoration: none;
    /* display: block; */
    text-align: center;
}

img.logo {
    width: 8vh;
    padding: 0;
    margin: 5px 5px 0px;
}

.home-page, .entry-page {
    color: white;
    text-decoration: none; 
}



