section.pattern {
    color: #130e3d;
    font-family: 'Inter', sans-serif;
    padding-top: 20vh;
    padding-bottom: 20vh;
    /* padding: 100px 10px; */
    margin-top: 100px;
    background-color: #edefff;
    opacity: 1;
    background-image:repeating-radial-gradient( circle at 0 0, transparent 0, #edefff 27px ), repeating-linear-gradient( #ffffff55, #ffffff );

}

.total-emissions-intro {
    /* font-weight: bold; */
    font-size: 18px;
    margin: 20px;
}
.total-emissions-intro > p {
    margin: 0;
}

section.table-section {
    margin: 10px 50px;
    color: #130e3d;
    font-family: 'Inter', sans-serif;
    padding-top: 2rem;
}

p {
    text-align: center;

}
table {
    border-collapse: collapse;
    margin-left: auto; /*centers the table*/
    margin-right: auto; /*centers the table */
    /* overflow-x: auto; */

}

div.table-div{
    overflow-x: auto;
}

table, tr{
    border: 1px solid #edefff;
}

p.co-total-emissions {
    color: #6b5bff;
    /* font-size: 58px; */
    /* font-size: 15vw; */
    font-size: 10vh;;
    font-weight: bold;
    padding: 0px;
    margin: 0px;

}

h2 {
    text-align: center;
    color:#130e3d;
}

th {
    background-color: #edefff;
    padding: 10px;

}

td {
    padding: 5px 10px;
}

/* tr:hover {
    color: #6b5bff;

} */

button.delete-btn {
    background-color: #f14668;
    padding: 5px 15px;
    border-radius: 10px;
    border-color:  #f14668;

}

button.delete-btn:active {
    background-color: #130E3D;
    color: #f14668;
    border-color: #130E3D;
}


h3 {
    text-align: center;
}