.trip-emissions-total {
    font-family: 'Inter', sans-serif;
    font-size: 350%;
    /* font-size: 60px; */
    font-weight: bold;
    color: #6b5bff;
    margin: 5px;
    /* padding: 5px; */
}

.results-link {
    color: #130e3d;
    margin: 5px;
}

.results-link:active {
    color: #1b998b;
}