section {
    margin: 0px 50px;
    color: #130e3d;
    font-family: 'Inter', sans-serif;
    margin-top: 60px;

}
p {
    text-align: center;

}
table {
    border-collapse: collapse;
    margin-left: auto; /*centers the table*/
    margin-right: auto; /*centers the table */
    /* overflow-x: auto; */

}

div.table-div{
    overflow-x: auto;
}

table, tr{
    border: 1px solid #edefff;
}

p.co-total-emissions {
    color: #6b5bff;
    font-size: 58px;
    font-weight: bold;
    margin: 10px;

}

h2 {
    text-align: center;
    color: #6b5bff;
}

th {
    background-color: #edefff;
    padding: 10px;

}

td {
    padding: 5px 10px;
}

/* tr:hover {
    color: #6b5bff;

} */

button.delete-btn {
    background-color: #f14668;
    padding: 5px 15px;
    border-radius: 10px;
    border-color:  #f14668;

}

button.delete-btn:active {
    background-color: #130E3D;
    color: #f14668;
    border-color: #130E3D;
}

.total-emissions-intro {
    /* font-weight: bold; */
    font-size: 18px;
    margin: 20px;

}